<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="icon" href="https://netid.emich.edu/cas/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script type="text/javascript" src="../assets/js/WOW.js"></script>
    <script type="text/javascript" src="../assets/js/jQuery.min.js"></script>
    <script type="text/javascript" src="../assets/js/scripts.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">new WOW().init();</script>
  </head>

  <body class="job">
    <div id="wrapper" style="background:#FFF" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" style="background:#FFF">
        <ul class="sidebar-nav-job" style="color:#000">
          <li classb="sidebar-brand">
            <a href="../index.html" style="color:#000">The ACM Hub</a>
          </li>
          <li>
            <a href="../0"><i class="fa fa-weixin"></i> Chat</a>
          </li>
          <li>
            <a href="./home"><i class="fa fa-home"></i> Home</a>
          </li>
          <li>
            <a href="https://github.com/EasternACM"><i class="fa fa-github "></i> Github</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-search"></i> Search(Coming Soon)</a>
          </li>
          <li>
            <a href="./books"><i class="fa fa-book"></i> Books</a>
          </li>
          <li>
            <a href="./resumes"><i class="fa fa-user"></i> Resumes</a>
          </li>
          <li>
            <a href="./contact"><i class="fa fa-envelope"></i> Member Contact Info</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-pencil-square-o"></i> Blog(Coming Soon)</a>
          </li>
        </ul>
      </div>
      <div class="sidebarc"><div class="toggle"><h1><a id="menu-toggle" href="#" style="position:fixed;margin-top:5px;z-index:100;color:#000"><span class="fa fa-bars"></span></a></h1></div></div>

    <div class="jumbotron jumbotron-job" align="center">
      <div class="container">
        <h1>{{.Title}}</h1>
        <p>[<a href="/edit/{{.Title}}">edit</a>]</p>
        <hr class="divider wow zoomIn">
        <br/><br/><br/><br/><br/><br/><br/><br/>
	       <div class="row">
          <div class="col-md-12 wow fadeInUp fadeInRight" data-wow-delay="0ms">
            <h2>{{printf "%s" .Body}}</h2>
          </div>
      </div>
      </div>
    </div>
    <script type="text/javascript">
      $("#wrapper").toggleClass("toggled");
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
          this.classList.toggle( "active" );
        });
        $(".navigation").click(function(){
          $(".navigation").removeClass('currentlyActive');
          $(this).addClass('currentlyActive');
        });
    </script>
  </body>
</html>
